@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --background-color : rgba(6 9 32);
  --orange-yellow-gradient : linear-gradient(
    to right,
    rgb(255, 174, 0),
    rgb(255, 251, 0)
  );
  --blue-gradient:linear-gradient(
    to right,
    #83EAF1,
    #63A4FF
  ); 


  --text-shadow: drop-shadow(6px 6px 9px rgba(255, 255, 255, 0.7));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  background-size: cover;
    z-index: 0;
    color: white;
    overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgb(255, 174, 0);
  height: 10px;
  border-radius: 20px ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 251, 0);
}
